.footer {
  background: #111827;

  color: white;

  margin-top: 50px;
}

.footer-container {
  max-width: 1150px;

  margin: auto;

  padding: 65px 24px;

  display: flex;

  justify-content: space-between;

  gap: 50px;
}

.footer .logo {
  color: white;

  text-decoration: none;

  font-size: 23px;

  font-weight: 800;
}

.footer .logo span {
  color: #aaa5ff;
}

.footer-brand p {
  color: #8f95a3;

  font-size: 12px;

  margin-top: 12px;
}

.footer-links {
  display: flex;

  gap: 100px;
}

.footer-links div {
  display: flex;

  flex-direction: column;

  gap: 11px;
}

.footer-links h4 {
  margin: 0 0 8px;

  font-size: 12px;
}

.footer-links a {
  color: #9298a5;

  text-decoration: none;

  font-size: 12px;

  transition: 0.2s ease;
}

.footer-links a:hover {
  color: white;
}

.footer-bottom {
  max-width: 1150px;

  margin: auto;

  padding: 20px 24px;

  border-top: 1px solid #272d39;

  display: flex;

  justify-content: space-between;

  color: #737a88;

  font-size: 10px;
}

@media (max-width: 600px) {
  .footer-container {
    flex-direction: column;
  }

  .footer-links {
    gap: 60px;
  }

  .footer-bottom {
    flex-direction: column;

    gap: 8px;
  }
}
